/* ==============Dark Side================ */

#dark {
    background-color: black;
    color: white;
    padding: 20px;
    text-shadow: 1px 1px 1px red;
    border-radius: 50px;
}

h2 {
    font-size: 2rem;
}

img {
    width: 300px;
}

p {
    font-size: 1.5rem;

}

/* =========================================== */

/* ================Light Side================= */

/* Block styles */

.heading {
    text-align: center;
}

.picture {
    width: 300px;
}

.paragraph {
    font-size: 1.5rem;
}

.container {
    display: flex;
    max-width: 650px;
}

/* Element styles */

.container__side {
    width: 50%;
    padding: 20px;
}

/* Modifier styles */

.heading--large {
    font-size: 3rem;
}

.heading--small {
    font-size: 2rem;
}

.heading--shadow {
    text-shadow: 1px 1px 1px greenyellow;
}

.picture--round {
    border-radius: 50%;
}

.paragraph--shadow {
    text-shadow: 1px 1px 1px greenyellow;
}

.container__side--light {
    color: black;
    background-color: lightsteelblue;
    border-radius: 50px;
}

/* ============================================= */

@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column;
    }

    .container__side {
        width: auto;
    }
}