/* ==============Dark Side================ */

#dark {
    background-color: black;
    color: white;
    padding: 20px;
    text-shadow: 1px 1px 1px red;
    border-radius: 50px;
    max-width: 650px;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

img {
    width: 300px;
}

p {
    font-size: 1.5rem;
}

#darkButton {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* =========================================== */

/* ================Light Side================= */

/* Block styles */

.heading {
    text-align: center;
}

.picture {
    width: 300px;
}

.paragraph {
    font-size: 1.5rem;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
}

.container>div {
    flex-basis: calc(20% - 20px);
    margin: 10px;
}

/* Element styles */

.container__side {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Modifier styles */

.heading--large {
    font-size: 3rem;
}

.heading--small {
    font-size: 2rem;
}

.heading--shadow {
    text-shadow: 1px 1px 1px greenyellow;
}

.picture--round {
    border-radius: 50%;
}

.paragraph--shadow {
    text-shadow: 1px 1px 1px greenyellow;
}

.container__side--light {
    color: black;
    background-color: lightsteelblue;
    border-radius: 50px;
}

.button__side {
    padding: 10px;
    border-radius: 50px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.button__side--light {
    background-color: greenyellow;
    color: black;
}

/* ============================================= */

@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column;
    }

    .container__side {
        width: 300px;
    }
}